body {
    background-color: #141414;
	background-repeat: no-repeat;
}

/* Make all buttons transparent
Move into custom classes if this conflicts
after merging tabs*/
button {
    border: none;
    background-color: inherit;
}

.container{
    color: black;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    margin: 30px auto;
    width: 90%;
    height: 250px;
    position: relative;
    text-align: center;
    background-color: #333333;
    border-radius: 10px;
    overflow-y: scroll;
}

.subtitle{
  position: absolute;
  top: 15px;
  left: 10px;
  font-family:arial;
  font-size: 30px;
  color: white;
}

.step-count{
  position: absolute;
  top: 240px;
  left: 40px;
  font-family:arial;
  font-size: 18px;
  color: white;
}

.exercise-count{
  position: absolute;
  top: 240px;
  right: 60px;
  font-family:arial;
  font-size: 18px;
  color: white;
}

.day-title{
  position: absolute;
  font-family:arial;
  font-size: 20px;
  color:white;
  top: 50px;
  left: 10px;
}

.day-button{
    position: absolute;
    background-color:#555;
    font-size: 30px;
    border-radius:50%;
    top: 110px;
    height: 60px;
    width: 60px;
}

.day-button:hover{
  background-color: #B3B2B2
}

.steps-pie{
    position: absolute;
    top: 100px;
    left: 60px;
  }

.time-button{
    background-color: #FF455E; 
	  color: black;
	  padding: 5px 8px;
	  text-align: center;
	  display: block;
	  margin: 10px auto;
	  border-radius: 10px;
	  width: 50px; 
	  height: 35px;
    font-size:20px;
    top:10px;
    position: absolute;
}

.time-button:hover{
    background-color:#FC8696;
}

h1{
    color: white;
    font-family: arial;
    font-size: 50px;
    text-align: center;
}

.stepcount {
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
  margin: 25px
}

canvas {
  position:absolute;
  top: 10px;
  left: 1px;
}

.trend-module {
  background-color: #08A6DF;
	padding: 5px 7px;
	text-align: center;
	display: block;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	border: 5px solid #08A6DF;
  position:absolute;
  font-family: arial;
  color:white;
}