body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1 {
	font-size: 100px;
	text-align: center;
}
p {
	font-size: 30px;
	padding: 20px 40px;
	text-wrap: balance;
	text-align: center
}
.next-text {
	font-size: 50px;
	background-color: #ffffff;
	border: none;
}
.next-button {
	position: absolute;
	top:550px;
	right: 35%;
	text-align: center;
	padding: 100px 0px;
}

.inline-image {
	transform: translateY(24px);
	width: 80px;
	height: 80px;
}
.question {
	font-size: 30px;
	padding: 100px 0px;
	text-wrap: balance;
	text-align: center
}

.p2 {
	display: none;
}

.p3 {
	display: none;
}

.name-text {
	width: 400px;
	height: 40px;
	padding: 10px;
	border: none;
	outline: solid;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	resize: true;
	font-size: 30px;
}

input[type="number"] {
	width: 80px;
	font-size: 40px;
	padding: 5px;
	text-align: center;
	border: none;
	outline: solid;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

span {
	font-size: 40px;
	padding: 10px 30px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 5px;
}